<a href="https://colab.research.google.com/github/jewelreddys/Python_lab_activitiy/blob/main/Lab14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import json
import openpyxl

# Create a CSV dataset
csv_data = pd.DataFrame({
    "Name": ["Arun", "Priya", "Kiran", "William"],
    "Age": [21, 22, 20, 28],
    "Parents Income": ["5L", "9.2L", "7.5L", "12L"]
})
csv_data.to_csv("sample_students.csv", index=False)

# Create a JSON dataset
json_data = {
    "employees": [
        {"id": 1, "name": "Alice", "age": 30, "department": "HR"},
        {"id": 2, "name": "Bob", "age": 25, "department": "IT"},
        {"id": 3, "name": "Charlie", "age": 35, "department": "Finance"}
    ]
}
with open("sample_employees.json", "w") as f:
    json.dump(json_data, f, indent=4)

# Create an Excel dataset
excel_data = pd.DataFrame({
    "Product": ["Laptop", "Mobile", "Tablet", "Monitor"],
    "Price": [60000, 20000, 30000, 15000],
    "Quantity": [10, 50, 30, 20]
})
excel_data.to_excel("sample_products.xlsx", index=False)

print("Sample datasets created: sample_students.csv, sample_employees.json, sample_products.xlsx")

Sample datasets created: sample_students.csv, sample_employees.json, sample_products.xlsx

## 1. CSV Handling
- Writing and Reading CSV using **csv module**
- Using **DictWriter** for dictionaries
- Appending new rows
- Using **pandas** for CSV handling (preferred in data science)
- Filtering, selecting, and updating CSV data

In [ ]:
import csv

# Writing CSV using csv.writer
with open("students_manual.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["Name", "Age", "Country"])
    writer.writerow(["Arun", 21, "India"])
    writer.writerow(["Priya", 22, "India"])

print("students_manual.csv created!")

students_manual.csv created!

In [ ]:
# Read CSV and sort by Age
df = pd.read_csv("sample_students.csv")
print("Sorted by Age:\n", df.sort_values(by="Age"))

Sorted by Age:
       Name  Age Parents Income
2    Kiran   20           7.5L
0     Arun   21             5L
1    Priya   22           9.2L
3  William   28            12L

In [ ]:
# Group by Parents Income
print("\nGroup by Parents Income:\n", df.groupby("Parents Income")["Name"].count())

Group by Parents Income:
 Parents Income
12L     1
5L      1
7.5L    1
9.2L    1
Name: Name, dtype: int64

In [ ]:
# Reading CSV using csv.reader
with open("students_manual.csv", newline="") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)  # Each row is a list of values

['Name', 'Age', 'Country']
['Arun', '21', 'India']
['Priya', '22', 'India']

In [ ]:
# Save only selected columns to a new CSV
df[["Name", "Age"]].to_csv("students_subset.csv", index=False)
print("\nSubset CSV created!")

Subset CSV created!

In [ ]:
# Using pandas for CSV (easier)
df = pd.read_csv("sample_students.csv")
print("Full DataFrame:\n", df)

# Select one column
print("\nOnly Name column:\n", df["Name"])

# Filter rows where Age > 21
print("\nAge > 21:\n", df[df["Age"] > 21])

Full DataFrame:
       Name  Age Parents Income
0     Arun   21             5L
1    Priya   22           9.2L
2    Kiran   20           7.5L
3  William   28            12L

Only Name column:
 0       Arun
1      Priya
2      Kiran
3    William
Name: Name, dtype: object

Age > 21:
       Name  Age Parents Income
1    Priya   22           9.2L
3  William   28            12L

## 2. JSON Handling
- Writing and Reading JSON with `json` module
- Converting between dict and JSON string
- Updating JSON files
- Using pandas for JSON

In [ ]:
with open("sample_employees.json", "r") as f:
    employees = json.load(f)
print("Employees data:", employees)

# Access nested data
for emp in employees["employees"]:
    print(emp["name"], "works in", emp["department"])

Employees data: {'employees': [{'id': 1, 'name': 'Alice', 'age': 30, 'department': 'HR'}, {'id': 2, 'name': 'Bob', 'age': 25, 'department': 'IT'}, {'id': 3, 'name': 'Charlie', 'age': 35, 'department': 'Finance'}]}
Alice works in HR
Bob works in IT
Charlie works in Finance

In [ ]:
# Convert dict to JSON string
person = {"name": "Diana", "age": 29, "skills": ["Python", "Excel"]}
person_json = json.dumps(person, indent=4)
print(person_json)

# Convert JSON string to dict
json_string = '{"city": "Delhi", "population": 20000000}'
city = json.loads(json_string)
print("City name:", city["city"])

{
    "name": "Diana",
    "age": 29,
    "skills": [
        "Python",
        "Excel"
    ]
}
City name: Delhi

In [ ]:
# Convert JSON list of dictionaries into Pandas DataFrame
with open("sample_employees.json", "r") as f:
    emp_data = json.load(f)

df = pd.DataFrame(emp_data["employees"])
print("Converted JSON to DataFrame:\n", df)

Converted JSON to DataFrame:
    id     name  age department
0   1    Alice   30         HR
1   2      Bob   25         IT
2   3  Charlie   35    Finance

## 3. Excel Handling
- Creating and reading Excel files with **openpyxl**
- Using pandas for Excel
- Adding new sheets
- Filtering data

In [ ]:
# Reading Excel with pandas
df_excel = pd.read_excel("sample_products.xlsx")
print(df_excel)

# Filter products above Rs. 20,000
print("\nProducts above 20,000:\n", df_excel[df_excel["Price"] > 20000])

   Product  Price  Quantity
0   Laptop  60000        10
1   Mobile  20000        50
2   Tablet  30000        30
3  Monitor  15000        20

Products above 20,000:
   Product  Price  Quantity
0  Laptop  60000        10
2  Tablet  30000        30

In [ ]:
# Writing multiple sheets to Excel
with pd.ExcelWriter("products_multi.xlsx", engine="openpyxl") as writer:
    df_excel.to_excel(writer, sheet_name="MainData", index=False)
    summary = df_excel.describe()
    summary.to_excel(writer, sheet_name="Summary")
print("products_multi.xlsx created with 2 sheets")

products_multi.xlsx created with 2 sheets