In [1]:
def double(x):
    return x * 2

def add(x, y):
    return x + y

x = double(5)      # or any value you like
print(x)

10

In [2]:
def mx(x, y):
    if x > y:
        return x
    else:
        return 
#Returns the larger of two numbers

In [3]:
print(mx(10, 5))   # Output: 10
print(mx(3, 8))    # Output: 8

10
8

In [4]:
nums=[]
for i in range(1,6):
    nums.append(i)
print(nums)
#Builds a list using a loop

[1, 2, 3, 4, 5]

In [5]:
n=64893022
for x in range(n):
    print(n(x))

TypeError: 'int' object is not callable

In [ ]:
c=456789
digits =[int(d) for  d in str(c)]
print(digits)

In [ ]:
names=['Ema','Tom','Hinton']
l=names.__iter__()
print(dir(names))

In [ ]:
Looper=iter(names)
while True:
    try:
        name=next(Looper)
        print(name)
    except StopIterartion:
        break

In [ ]:
l2 = 1__iter__()

In [ ]:
names =['Ema','Tom','Hinton']
12 ==names.__iter__()

In [ ]:
print(12,type(names),type(12))

In [ ]:
print (next(12))

In [ ]:
def square (x):
    return x*x
l=[1,2,3,4,5]
print(map(square,l))
print(list(map(square,l)))
#Squares each element in the list using map()

In [ ]:
#map and lambda
l=[1,2,3,4,5]
r=list(map(lambda x:  x**2,l))
print(r)

In [ ]:
#filters allows element which only satifies the condition provided
l=[1,2,3,4,5]
print(list(filter(lambda x:x>3,l)))

In [ ]:
#function which accepts strings and convert uppercase to lower case using map
def to_lower_with_map(text):
    return ' '.join(map(str.lower,text))

In [ ]:
print(to_lower_with_map("HeLLo WOrLD!"))

In [ ]:
#An iterable is any object we can loop over or pass to functions like iter(),lsit(),etc
#What are NOT iterables
#These are not directly iterable (we cannot use them in a for loop or pass to iter() without converting