<a href="https://colab.research.google.com/github/jewelreddys/Python_lab_activitiy/blob/main/Lab_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Program 4: Swapping and reordering levels
import pandas as pd

# Create a MultiIndex with two levels: "Alphabet" and "Subject"
arrays = [["A", "A", "B", "B"], ["Math", "Science", "Math", "Science"]]
index = pd.MultiIndex.from_arrays(arrays, names=("Alphabet", "Subject"))
# Create a Series with the MultiIndex
multi_s = pd.Series([90, 85, 88, 92], index=index)

# Swap the levels of the MultiIndex (Subject becomes the first level)
print("Swapping levels:\n", multi_s.swaplevel(), "\n")
# Reorder the levels of the MultiIndex (explicitly set the order)
print("Reordering levels:\n", multi_s.reorder_levels(["Subject", "Alphabet"]), "\n")

Swapping levels:
 Subject  Alphabet
Math     A           90
Science  A           85
Math     B           88
Science  B           92
dtype: int64

Reordering levels:
 Subject  Alphabet
Math     A           90
Science  A           85
Math     B           88
Science  B           92
dtype: int64

In [3]:
# Program 5: Passing arrays directly to create MultiIndex in Series/DataFrame
import pandas as pd
import numpy as np

# Create a Series with an automatic MultiIndex from two arrays
multi_s_auto = pd.Series(
    np.random.randn(4), # Generate 4 random numbers
    index=pd.MultiIndex.from_arrays([["A", "A", "B", "B"], ["X", "Y", "X", "Y"]]) # Create MultiIndex
)
print("MultiIndex Series constructed automatically:\n", multi_s_auto, "\n")

# Create a DataFrame with an automatic MultiIndex from two arrays for rows and two arrays for columns
df_auto = pd.DataFrame(
    np.random.randn(4, 2), # Generate a 4x2 array of random numbers
    index=pd.MultiIndex.from_arrays([["Group1", "Group1", "Group2", "Group2"],
                                     ["One", "Two", "One", "Two"]]), # Create MultiIndex for rows
    columns=["Score1", "Score2"] # Define simple column names
)
print("DataFrame with MultiIndex automatically:\n", df_auto, "\n")

MultiIndex Series constructed automatically:
 A  X    0.504020
   Y    0.583210
B  X   -0.438686
   Y   -0.449126
dtype: float64

DataFrame with MultiIndex automatically:
               Score1    Score2
Group1 One  1.174961 -0.392988
       Two -1.049563 -0.860286
Group2 One  0.623115 -0.602288
       Two  0.745572 -0.390306

In [ ]:
# Program 6: Data alignment and reindexing with MultiIndex
import pandas as pd

df = pd.DataFrame({
    "Math": [85, 90, 95, 80],
    "Science": [82, 88, 92, 84]
}, index=pd.MultiIndex.from_arrays([["A", "A", "B", "B"], ["one", "two", "one", "two"]]))
print("Original DataFrame:\n", df, "\n")

# Group by first level and compute mean
mean_by_group = df.groupby(level=0).mean()
print("Mean by group:\n", mean_by_group, "\n")

# Reindexing with MultiIndex
aligned = mean_by_group.reindex(df.index, level=0)
print("Reindexed to align with original index:\n", aligned, "\n")

Original DataFrame:
        Math  Science
A one    85       82
  two    90       88
B one    95       92
  two    80       84

Mean by group:
    Math  Science
A  87.5     85.0
B  87.5     88.0

Reindexed to align with original index:
        Math  Science
A one  87.5     85.0
  two  87.5     85.0
B one  87.5     88.0
  two  87.5     88.0

In [ ]:
# Program 8: Sorting MultiIndex and removing unused levels
import pandas as pd
import numpy as np

# Unsorted MultiIndex Series
multi_s = pd.Series(
    np.random.randn(4),
    index=pd.MultiIndex.from_arrays([["B", "A", "B", "A"], ["X", "Y", "Y", "X"]])
)
print("Unsorted MultiIndex Series:\n", multi_s, "\n")
print("Sorted by index:\n", multi_s.sort_index(), "\n")

# Removing unused levels
df = pd.DataFrame(
    np.random.randn(4, 2),
    index=pd.MultiIndex.from_arrays([["Group1", "Group1", "Group2", "Group2"], ["One", "Two", "One", "Two"]]),
    columns=pd.MultiIndex.from_arrays([["Score1", "Score2"], ["X", "Y"]])
)
print("Before removing unused levels:\n", df.columns.levels, "\n")
sub_df = df[["Score1"]]  # drop Score2
print("After removing unused levels:\n", sub_df.columns.remove_unused_levels().levels, "\n")

Unsorted MultiIndex Series:
 B  X   -0.701111
A  Y    0.922219
B  Y    0.972224
A  X   -0.097493
dtype: float64

Sorted by index:
 A  X   -0.097493
   Y    0.922219
B  X   -0.701111
   Y    0.972224
dtype: float64

Before removing unused levels:
 [['Score1', 'Score2'], ['X', 'Y']]

After removing unused levels:
 [['Score1'], ['X']]

#Program 1: Creating DataFrames (different ways)

In [ ]:
#Program 1: Creating DataFrames (different ways)
import pandas as pd
import numpy as np

# ------------------------------------------
# 1. From dictionary of lists
# ------------------------------------------
data1 = {"Name": ["Alice", "Bob", "Charlie"],
         "Age": [24, 27, 22],
         "Score": [85, 90, 88]}
df1 = pd.DataFrame(data1)
print("DataFrame from dictionary of lists:\n", df1, "\n")

# ------------------------------------------
# 2. From dictionary of Series
# ------------------------------------------
data2 = {"Math": pd.Series([90, 80, 85], index=["Alice", "Bob", "Charlie"]),
         "Science": pd.Series([88, 92, 84], index=["Alice", "Bob", "Charlie"])}
df2 = pd.DataFrame(data2)
print("DataFrame from dictionary of Series:\n", df2, "\n")

# ------------------------------------------
# 3. From NumPy array
# ------------------------------------------
df3 = pd.DataFrame(np.arange(9).reshape(3, 3),
                   columns=["Col1", "Col2", "Col3"])
print("DataFrame from NumPy array:\n", df3, "\n")

DataFrame from dictionary of lists:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88

DataFrame from dictionary of Series:
          Math  Science
Alice      90       88
Bob        80       92
Charlie    85       84

DataFrame from NumPy array:
    Col1  Col2  Col3
0     0     1     2
1     3     4     5
2     6     7     8

In [4]:
#Program 2: Accessing rows and columns
import pandas as pd

data = {"Name": ["Alice", "Bob", "Charlie", "David"],
        "Age": [24, 27, 22, 30],
        "Score": [85, 90, 88, 95]}
df = pd.DataFrame(data)

print("Original DataFrame:\n", df, "\n")

# Access single column by column name
print("Accessing single column (Score):\n", df["Score"], "\n")

# Access multiple columns by a list of column names
print("Accessing multiple columns:\n", df[["Name", "Age"]], "\n")

# Access row(s) by index label(s) using .loc[]
# .loc[2] accesses the row with index label 2
print("Access row using loc:\n", df.loc[2], "\n")

# Access row(s) by integer location(s) using .iloc[]
# .iloc[1] accesses the row at integer position 1 (the second row)
print("Access row using iloc:\n", df.iloc[1], "\n")

Original DataFrame:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88
3    David   30     95

Accessing single column (Score):
 0    85
1    90
2    88
3    95
Name: Score, dtype: int64

Accessing multiple columns:
       Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
3    David   30

Access row using loc:
 Name     Charlie
Age           22
Score         88
Name: 2, dtype: object

Access row using iloc:
 Name     Bob
Age       27
Score     90
Name: 1, dtype: object

In [5]:
#Program 3: Indexing and Slicing
import pandas as pd

data = {"Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
        "Age": [24, 27, 22, 30, 28],
        "Score": [85, 90, 88, 95, 89]}
df = pd.DataFrame(data)

print("Original DataFrame:\n", df, "\n")

# Slicing rows by integer position (from the beginning up to, but not including, index 3)
print("First three rows:\n", df[:3], "\n")

# Slicing specific rows by index label (from index 1 to index 3, inclusive) using .loc[]
print("Rows 1 to 3:\n", df.loc[1:3], "\n")

# Slicing specific columns by column name using .loc[]
# The ':' indicates all rows are included
print("Columns Name and Score:\n", df.loc[:, ["Name", "Score"]], "\n")

# Conditional selection: select rows where the value in the "Score" column is greater than 88
print("Rows where Score > 88:\n", df[df["Score"] > 88], "\n")

Original DataFrame:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88
3    David   30     95
4      Eva   28     89

First three rows:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88

Rows 1 to 3:
       Name  Age  Score
1      Bob   27     90
2  Charlie   22     88
3    David   30     95

Columns Name and Score:
       Name  Score
0    Alice     85
1      Bob     90
2  Charlie     88
3    David     95
4      Eva     89

Rows where Score > 88:
     Name  Age  Score
1    Bob   27     90
3  David   30     95
4    Eva   28     89

In [6]:
#Program 4: Adding, Updating, and Deleting Data
import pandas as pd

df = pd.DataFrame({"Name": ["Alice", "Bob", "Charlie"],
                   "Age": [24, 27, 22]})
print("Original DataFrame:\n", df, "\n")

# Adding new column by assigning a list or array
df["Score"] = [85, 90, 88]
print("After adding Score column:\n", df, "\n")

# Updating values at a specific index label and column name using .at[]
df.at[1, "Age"] = 28
print("After updating Age of Bob:\n", df, "\n")

# Deleting column using .drop() with axis=1
df = df.drop("Score", axis=1)
print("After deleting Score column:\n", df, "\n")

# Deleting row using .drop() with axis=0
df = df.drop(2, axis=0)
print("After deleting row with index 2:\n", df, "\n")

Original DataFrame:
       Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22

After adding Score column:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88

After updating Age of Bob:
       Name  Age  Score
0    Alice   24     85
1      Bob   28     90
2  Charlie   22     88

After deleting Score column:
       Name  Age
0    Alice   24
1      Bob   28
2  Charlie   22

After deleting row with index 2:
     Name  Age
0  Alice   24
1    Bob   28

In [7]:
#Program 5: Handling Missing Data
import pandas as pd
import numpy as np

df = pd.DataFrame({"Name": ["Alice", "Bob", "Charlie"],
                   "Age": [24, np.nan, 22], # Use np.nan to represent missing values
                   "Score": [85, 90, np.nan]})
print("Original DataFrame with NaN values:\n", df, "\n")

# Detect missing values using .isnull() (returns a boolean DataFrame)
print("Detect missing values:\n", df.isnull(), "\n")

# Fill missing values using .fillna() (fills NaN values with a specified value)
print("Fill missing values:\n", df.fillna(0), "\n")

# Drop rows with missing values using .dropna() (removes rows containing any NaN values)
print("Drop rows with missing values:\n", df.dropna(), "\n")

Original DataFrame with NaN values:
       Name   Age  Score
0    Alice  24.0   85.0
1      Bob   NaN   90.0
2  Charlie  22.0    NaN

Detect missing values:
     Name    Age  Score
0  False  False  False
1  False   True  False
2  False  False   True

Fill missing values:
       Name   Age  Score
0    Alice  24.0   85.0
1      Bob   0.0   90.0
2  Charlie  22.0    0.0

Drop rows with missing values:
     Name   Age  Score
0  Alice  24.0   85.0

In [8]:
#Program 6: Data Alignment and Reindexing
import pandas as pd

df1 = pd.DataFrame({"Score": [85, 90, 88]}, index=["Alice", "Bob", "Charlie"])
df2 = pd.DataFrame({"Score": [92, 80]}, index=["Bob", "David"])

print("DataFrame 1:\n", df1, "\n")
print("DataFrame 2:\n", df2, "\n")

# Automatic alignment in arithmetic operations: Pandas aligns based on index labels.
# Where index labels don't match, the result is NaN.
print("Adding df1 and df2:\n", df1 + df2, "\n")

# Reindexing a DataFrame to conform to a new index.
# Missing values in the new index can be filled with a specified value (fill_value).
df3 = df1.reindex(["Alice", "Bob", "Charlie", "David"], fill_value=0)
print("Reindexed DataFrame:\n", df3, "\n")

DataFrame 1:
          Score
Alice       85
Bob         90
Charlie     88

DataFrame 2:
        Score
Bob       92
David     80

Adding df1 and df2:
          Score
Alice      NaN
Bob      182.0
Charlie    NaN
David      NaN

Reindexed DataFrame:
          Score
Alice       85
Bob         90
Charlie     88
David        0

In [9]:
#Program 7: Sorting and Grouping
import pandas as pd

data = {"Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
        "Age": [24, 27, 22, 30, 28],
        "Score": [85, 90, 88, 95, 89]}
df = pd.DataFrame(data)

print("Original DataFrame:\n", df, "\n")

# Sorting the DataFrame by the values in a specific column using .sort_values()
print("Sorted by Score:\n", df.sort_values(by="Score"), "\n")

# Grouping data by the unique values in the "Age" column.
# Then, calculating the mean of the "Score" for each age group.
grouped = df.groupby("Age")["Score"].mean()
print("Average score grouped by Age:\n", grouped, "\n")

Original DataFrame:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88
3    David   30     95
4      Eva   28     89

Sorted by Score:
       Name  Age  Score
0    Alice   24     85
2  Charlie   22     88
4      Eva   28     89
1      Bob   27     90
3    David   30     95

Average score grouped by Age:
 Age
22    88.0
24    85.0
27    90.0
28    89.0
30    95.0
Name: Score, dtype: float64

In [10]:
#Grouping Example
#A. Series
import pandas as pd

# Create a Series representing salaries, with employee names as the index
salary = pd.Series([50000, 55000, 60000, 62000],
                   index=["Alice", "Bob", "Charlie", "David"])
# Create a Series representing departments, aligning with the salary index
department = pd.Series(["HR", "HR", "IT", "IT"],
                       index=["Alice", "Bob", "Charlie", "David"])

# Grouping the salary Series by the department Series.
# This creates a GroupBy object, which is an intermediate step before aggregation.
grouped_series = salary.groupby(department)
print("Grouped Series (just groups, no aggregation):\n", grouped_series, "\n")

# You can access a specific group from the GroupBy object using get_group()
print("HR group in Series:\n", grouped_series.get_group("HR"), "\n")

Grouped Series (just groups, no aggregation):
 <pandas.core.groupby.generic.SeriesGroupBy object at 0x7d4b4af09550>

HR group in Series:
 Alice    50000
Bob      55000
dtype: int64

In [11]:
#Aggregation Example
#A. Series
# Aggregation on grouped Series
# Compute mean salary per department using the .mean() aggregation function
aggregated_series = grouped_series.mean()
print("Aggregated Series (mean salary per department):\n", aggregated_series, "\n")

# Other common aggregation functions: .sum() and .max()
print("Sum per department:\n", grouped_series.sum(), "\n")
print("Max per department:\n", grouped_series.max(), "\n")

Aggregated Series (mean salary per department):
 HR    52500.0
IT    61000.0
dtype: float64

Sum per department:
 HR    105000
IT    122000
dtype: int64

Max per department:
 HR    55000
IT    62000
dtype: int64

In [12]:
#Example: Grouping and Aggregating for Series / MultiLevel Series
import pandas as pd

# Single Series
salary = pd.Series([50000, 55000, 60000, 62000],
                   index=["Alice", "Bob", "Charlie", "David"])
department = pd.Series(["HR", "HR", "IT", "IT"],
                       index=["Alice", "Bob", "Charlie", "David"])

# Grouping salaries by department and calculating mean directly using .groupby().mean()
grouped_series = salary.groupby(department).mean()
print("Mean salary by department (Series):\n", grouped_series, "\n")

# MultiLevel Series (using a MultiIndex)
arrays = [
    ["HR", "HR", "IT", "IT"], # First level of the MultiIndex (Department)
    ["Alice", "Bob", "Charlie", "David"] # Second level of the MultiIndex (Employee)
]
index = pd.MultiIndex.from_arrays(arrays, names=("Dept", "Employee"))
multi_s = pd.Series([50000, 55000, 60000, 62000], index=index)

# Grouping a MultiLevel Series by a specific level (level=0 refers to the first level, "Dept")
grouped_multi = multi_s.groupby(level=0).mean()
print("Mean salary by department (MultiLevel Series):\n", grouped_multi, "\n")

Mean salary by department (Series):
 HR    52500.0
IT    61000.0
dtype: float64

Mean salary by department (MultiLevel Series):
 Dept
HR    52500.0
IT    61000.0
dtype: float64

In [13]:
#Grouping (DataFrame)
import pandas as pd

# Create a DataFrame with Department, Employee, and Salary columns
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],
    "Employee": ["Alice", "Bob", "Charlie", "David"],
    "Salary": [50000, 55000, 60000, 62000]
})

# Grouping the DataFrame by the "Department" column.
# This creates a DataFrameGroupBy object.
grouped_df = df.groupby("Department")
print("Grouped DataFrame (just groups, no aggregation):\n", grouped_df, "\n")

# Accessing a specific group from the DataFrameGroupBy object using get_group()
print("HR group in DataFrame:\n", grouped_df.get_group("HR"), "\n")

Grouped DataFrame (just groups, no aggregation):
 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7d4b5922f650>

HR group in DataFrame:
   Department Employee  Salary
0         HR    Alice   50000
1         HR      Bob   55000

In [14]:
# Aggregating DataFrame
# Aggregation on grouped DataFrame
# Compute mean salary per department by selecting the "Salary" column and applying .mean()
aggregated_df = grouped_df["Salary"].mean()
print("Aggregated DataFrame (mean salary per department):\n", aggregated_df, "\n")

# Multiple aggregations on DataFrame using the .agg() method with a dictionary.
# The dictionary specifies the column(s) to aggregate and a list of aggregation functions for each.
multi_agg_df = grouped_df.agg({
    "Salary": ["mean", "sum", "max"]
})
print("Aggregated DataFrame (multiple stats):\n", multi_agg_df, "\n")

Aggregated DataFrame (mean salary per department):
 Department
HR    52500.0
IT    61000.0
Name: Salary, dtype: float64

Aggregated DataFrame (multiple stats):
              Salary
               mean     sum    max
Department
HR          52500.0  105000  55000
IT          61000.0  122000  62000

In [15]:
import pandas as pd

# ------------------------------------------
# Sample DataFrame
# ------------------------------------------
# Create a DataFrame with information about employees in different departments and teams.
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "HR", "IT"],
    "Employee": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Salary": [50000, 55000, 60000, 62000, 58000, 61000],
    "Bonus": [5000, 6000, 7000, 8000, 5500, 7500]
})

print("Original DataFrame:\n", df, "\n")

# ------------------------------------------
# Grouping by Department (no aggregation yet)
# ------------------------------------------
# Group the DataFrame by the "Department" column.
grouped = df.groupby("Department")
# .groups attribute shows the index labels belonging to each group.
print("Groups formed:\n", grouped.groups, "\n")

# Access a specific group using get_group().
print("HR group:\n", grouped.get_group("HR"), "\n")

# ------------------------------------------
# Aggregating after grouping
# ------------------------------------------
# 1. Single aggregation function: calculate the mean of the "Salary" column for each group.
mean_salary = grouped["Salary"].mean()
print("Mean Salary per Department:\n", mean_salary, "\n")

# 2. Multiple aggregation functions using .agg().
# A dictionary specifies which columns to aggregate and what functions to apply (as a list).
agg_stats = grouped.agg({
    "Salary": ["mean", "max", "min"],
    "Bonus": ["sum", "mean"]
})
print("Aggregated stats per Department:\n", agg_stats, "\n")

# ------------------------------------------
# Optional: filtering groups (e.g., mean salary > 55000)
# ------------------------------------------
# Filter groups based on a condition applied to the group's data.
# The lambda function defines the condition (mean salary of the group > 55000).
high_salary_dept = grouped.filter(lambda x: x["Salary"].mean() > 55000)
print("Departments with mean salary > 55000:\n", high_salary_dept, "\n")

Original DataFrame:
   Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   55000   6000
2         IT  Charlie   60000   7000
3         IT    David   62000   8000
4         HR      Eva   58000   5500
5         IT    Frank   61000   7500

Groups formed:
 {'HR': [0, 1, 4], 'IT': [2, 3, 5]}

HR group:
   Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   55000   6000
4         HR      Eva   58000   5500

Mean Salary per Department:
 Department
HR    54333.333333
IT    61000.000000
Name: Salary, dtype: float64

Aggregated stats per Department:
                   Salary                Bonus
                    mean    max    min    sum    mean
Department
HR          54333.333333  58000  50000  16500  5500.0
IT          61000.000000  62000  60000  22500  7500.0

Departments with mean salary > 55000:
   Department Employee  Salary  Bonus
2         IT  Charlie   60000   7000
3         IT    David   62000   8000
5         IT    Frank   61000   7500

Difference between grouping/ aggregating in series and dataframes
#In grouping, a Series can be grouped only by another Series or index level, while a DataFrame can be grouped by one or more columns.

Series aggregation operates on a single column and returns a Series, whereas DataFrame aggregation can operate on multiple columns and return a DataFrame.

Series is simpler and suitable for single-column data, while DataFrame is more powerful for handling complex, multi-column datasets.

In [16]:
#series (Example for comparing Series and DataFrame grouping)
import pandas as pd
# Create a Series of salaries
salary = pd.Series([50000, 55000, 60000, 62000], index=["Alice","Bob","Charlie","David"])
# Create a Series of departments, aligned by index with the salary Series
department = pd.Series(["HR","HR","IT","IT"], index=["Alice","Bob","Charlie","David"])

# Group the salary Series by the department Series
grouped_series = salary.groupby(department)

# Note: This cell only performs the grouping, not the aggregation.
# The resulting 'grouped_series' is a GroupBy object, ready for aggregation functions.

In [17]:
#data frames (Example for comparing Series and DataFrame grouping)
import pandas as pd

# Create a DataFrame with Department, Employee, and Salary columns
df = pd.DataFrame({
    "Department":["HR","HR","IT","IT"],
    "Employee":["Alice","Bob","Charlie","David"],
    "Salary":[50000,55000,60000,62000]
})

# Group the DataFrame by the "Department" column
grouped_df = df.groupby("Department")

# Note: This cell only performs the grouping, not the aggregation.
# The resulting 'grouped_df' is a DataFrameGroupBy object, ready for aggregation functions.

In [18]:
import pandas as pd

# ------------------------------------------
# 1. Series Example
# ------------------------------------------
# Create a Series representing salaries
salary_series = pd.Series([50000, 55000, 60000, 62000],
                          index=["Alice", "Bob", "Charlie", "David"])
# Create a Series representing departments, aligned by index
department_series = pd.Series(["HR", "HR", "IT", "IT"],
                              index=["Alice", "Bob", "Charlie", "David"])

# Grouping the salary Series by the department Series
grouped_series = salary_series.groupby(department_series)
print("Grouped Series (no aggregation):")
# Iterate through the groups and print the department name and the values in that group
for dept, group in grouped_series:
    print(f"{dept}: {group.values}")
print()

# Aggregating (mean per department) by applying the .mean() function to the grouped Series
aggregated_series = grouped_series.mean()
print("Aggregated Series (mean salary per department):")
print(aggregated_series)
print("\n" + "="*50 + "\n") # Separator for clarity

# ------------------------------------------
# 2. DataFrame Example
# ------------------------------------------
# Create a DataFrame with Department, Employee, Salary, and Bonus columns
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],
    "Employee": ["Alice", "Bob", "Charlie", "David"],
    "Salary": [50000, 55000, 60000, 62000],
    "Bonus": [5000, 6000, 7000, 8000]
})

# Grouping the DataFrame by the "Department" column
grouped_df = df.groupby("Department")
print("Grouped DataFrame (no aggregation):")
# Iterate through the groups and print the department name and the group's DataFrame
for dept, group in grouped_df:
    print(f"{dept} group:\n{group}\n")

# Aggregating (mean and sum for numeric columns) using the .agg() method.
# A dictionary specifies the columns ("Salary", "Bonus") and a list of aggregation functions for each.
aggregated_df = grouped_df.agg({
    "Salary": ["mean", "sum"],
    "Bonus": ["mean", "sum"]
})
print("Aggregated DataFrame (Salary and Bonus stats per Department):")
print(aggregated_df)

Grouped Series (no aggregation):
HR: [50000 55000]
IT: [60000 62000]

Aggregated Series (mean salary per department):
HR    52500.0
IT    61000.0
dtype: float64

==================================================

Grouped DataFrame (no aggregation):
HR group:
  Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   55000   6000

IT group:
  Department Employee  Salary  Bonus
2         IT  Charlie   60000   7000
3         IT    David   62000   8000

Aggregated DataFrame (Salary and Bonus stats per Department):
             Salary           Bonus
               mean     sum    mean    sum
Department
HR          52500.0  105000  5500.0  11000
IT          61000.0  122000  7500.0  15000

In [19]:
#merging DataFrames
import pandas as pd

# DataFrame 1: Employee and Department information
df1 = pd.DataFrame({
    "Employee": ["Alice", "Bob", "Charlie", "David"],
    "Department": ["HR", "IT", "HR", "IT"]
})

# DataFrame 2: Employee and Salary information
df2 = pd.DataFrame({
    "Employee": ["Alice", "Bob", "Charlie", "Eva"],
    "Salary": [50000, 60000, 55000, 58000]
})

# Inner merge: Combines rows from both DataFrames where the "Employee" column values match.
# Only includes employees present in BOTH df1 and df2.
inner_merge = pd.merge(df1, df2, on="Employee", how="inner")
print("Inner Merge:\n", inner_merge, "\n")

# Outer merge: Combines rows from both DataFrames on the "Employee" column.
# Includes all employees from BOTH df1 and df2.
# Missing values in columns where there is no match are filled with NaN.
outer_merge = pd.merge(df1, df2, on="Employee", how="outer")
print("Outer Merge:\n", outer_merge, "\n")

Inner Merge:
   Employee Department  Salary
0    Alice         HR   50000
1      Bob         IT   60000
2  Charlie         HR   55000

Outer Merge:
   Employee Department   Salary
0    Alice         HR  50000.0
1      Bob         IT  60000.0
2  Charlie         HR  55000.0
3    David         IT      NaN
4      Eva        NaN  58000.0

In [20]:
#Merging on different key columns

#You can merge two DataFrames using different column names in each DataFrame by using left_on and right_on.

#Example:

import pandas as pd

# DataFrame 1 with employee ID as "EmpID"
df1 = pd.DataFrame({
    "EmpID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"]
})

# DataFrame 2 with employee ID as "EmployeeID"
df2 = pd.DataFrame({
    "EmployeeID": [2, 3, 4],
    "Salary": [60000, 55000, 58000]
})

# Merge using different column names: 'left_on' specifies the key in the left DataFrame (df1),
# and 'right_on' specifies the key in the right DataFrame (df2).
merged_df = pd.merge(df1, df2, left_on="EmpID", right_on="EmployeeID", how="inner")
print("Merge on different keys:\n", merged_df)

Merge on different keys:
    EmpID     Name  EmployeeID  Salary
0      2      Bob           2   60000
1      3  Charlie           3   55000

In [21]:
#Handling overlapping column names

#If both DataFrames have columns with the same name other than the key, Pandas automatically adds suffixes: _x and _y.

#You can customize suffixes using the suffixes parameter.

import pandas as pd

# DataFrame 1 with Employee and Salary columns
df1 = pd.DataFrame({
    "Employee": ["Alice", "Bob"],
    "Salary": [50000, 60000]
})

# DataFrame 2 with Employee and Salary columns (salary values are different)
df2 = pd.DataFrame({
    "Employee": ["Bob", "Charlie"],
    "Salary": [65000, 55000]
})

# Merge with custom suffixes: When merging on "Employee", the "Salary" columns have the same name.
# The 'suffixes' parameter adds "_Old" to the Salary column from df1 and "_New" to the Salary column from df2.
merged_df = pd.merge(df1, df2, on="Employee", how="outer", suffixes=("_Old", "_New"))
print("Merge with custom suffixes:\n", merged_df)

Merge with custom suffixes:
   Employee  Salary_Old  Salary_New
0    Alice     50000.0         NaN
1      Bob     60000.0     65000.0
2  Charlie         NaN     55000.0

In [22]:
#Merging using indexes

#Instead of merging on columns, you can merge using the row index with left_index=True and right_index=True.

import pandas as pd

# DataFrame 1 with employee names as the index and Salary column
df1 = pd.DataFrame({"Salary": [50000, 60000]}, index=["Alice", "Bob"])
# DataFrame 2 with employee names as the index and Department column
df2 = pd.DataFrame({"Department": ["HR", "IT"]}, index=["Alice", "Bob"])

# Merge using index: Merges the two DataFrames based on their row indexes.
merged_index_df = pd.merge(df1, df2, left_index=True, right_index=True)
print("Merge using indexes:\n", merged_index_df)

Merge using indexes:
        Salary Department
Alice   50000         HR
Bob     60000         IT

#Summary table
df.pivot_table(values='NumericColumn', index='RowCategory', columns='ColumnCategory', aggfunc='mean')
values  numeric column to summarize

index  row labels

columns  column labels (optional)

aggfunc  aggregation function (mean, sum, count, etc.)

In [23]:
#Summary Tables (using pivot_table)
import pandas as pd

# Create a DataFrame with Department, Team, and Salary information
df = pd.DataFrame({
    "Department": ["HR","HR","IT","IT"],
    "Team": ["A","B","A","B"],
    "Salary": [50000,55000,60000,62000]
})
# Create a pivot table to summarize Salary by Department and Team.
# 'values' is the column to aggregate.
# 'index' is used for the pivot table's rows.
# 'columns' is used for the pivot table's columns.
# 'aggfunc' is the aggregation function to apply (mean in this case).
summary = df.pivot_table(values="Salary", index="Department", columns="Team", aggfunc="mean")
print(summary)

Team              A        B
Department
HR          50000.0  55000.0
IT          60000.0  62000.0

In [24]:
# summary table pivot table
import pandas as pd

# Create a DataFrame with Department, Team, and Salary information
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "HR", "IT"],
    "Team": ["A", "B", "A", "B", "A", "B"],
    "Salary": [50000, 55000, 60000, 62000, 58000, 61000]
})

# Pivot table: calculate the average salary by Department and Team.
# 'values' is the column to aggregate.
# 'index' is used for the pivot table's rows.
# 'columns' is used for the pivot table's columns.
# 'aggfunc' is the aggregation function to apply (mean in this case).
summary_table = df.pivot_table(values="Salary", index="Department", columns="Team", aggfunc="mean")
print("Summary Table (Average Salary):\n", summary_table)

Summary Table (Average Salary):
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0

In [25]:
#Pivot Table with Multiple Aggregation Functions

#You can apply more than one aggregation function at once using a list in the aggfunc parameter.

# Create a pivot table with multiple aggregation functions (mean, sum, max) applied to the "Salary" column.
summary_table_multi = df.pivot_table(
    values="Salary", # The column to aggregate
    index="Department", # Used for rows
    columns="Team", # Used for columns
    aggfunc=["mean", "sum", "max"] # List of aggregation functions
)
print("Pivot Table with Multiple Aggregations:\n", summary_table_multi)

Pivot Table with Multiple Aggregations:
                mean              sum            max
Team              A        B       A       B      A      B
Department
HR          54000.0  55000.0  108000   55000  58000  55000
IT          60000.0  61500.0   60000  123000  60000  62000

In [26]:
#Handling Missing Data in Pivot Tables

#Pivot tables automatically fill missing combinations (where a specific Department/Team combination doesn't exist in the original data) with NaN.

#You can replace these missing values with a specified value using the fill_value parameter.

# Create a pivot table, filling any missing values (NaN) with 0.
summary_table_fill = df.pivot_table(
    values="Salary", # The column to aggregate
    index="Department", # Used for rows
    columns="Team", # Used for columns
    aggfunc="mean", # Aggregation function
    fill_value=0 # Value to fill missing entries
)
print("Pivot Table with Missing Values Filled:\n", summary_table_fill)

Pivot Table with Missing Values Filled:
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0

In [27]:
#Grouping vs Pivot Tables

#Pivot tables are essentially a specialized form of groupby followed by aggregation and reshaping.
# They are particularly useful for summarizing data across two categorical variables in a table format.

# Equivalent using groupby and unstack:
# Group by "Department" and "Team", calculate the mean of "Salary",
# then use .unstack() to reshape the result into a table with "Team" as columns.
grouped = df.groupby(["Department", "Team"])["Salary"].mean().unstack()
print("Equivalent using groupby + unstack:\n", grouped)

# This output is the same as the pivot table with the same parameters,
# demonstrating that pivot_table is a convenient shortcut for this common operation.

Equivalent using groupby + unstack:
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0